Backup/
bin/
obj/
pub/
7zip*/
temp/
shadowsocks-csharp/shadowsocks-csharp.csproj.user
TestResults
*.suo
*.user
*.exe

/templates
/.vs
/shadowsocks-csharp/publish
/shadowsocks-csharp/shadowsocks-csharp_TemporaryKey.pfx
